@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Quicksand:wght@300;400;500;600;700&display=swap');



.landingbg {
    background: url("../images/home.jpg");
    height: 100vh;
    width: 100gvw;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.title {
    width: 100%;
    padding-top: 5px;
}

#button {
    font-family: "Press Start 2P", serif;
    color: #fff;
    position: absolute;
    top: 95%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);



}