@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Quicksand:wght@300;400;500;600;700&display=swap');

html, body{
    width: 100%;
    overflow-x: hidden;
  }

/* Landing page css */

.landingbg {
    background: url("../images/landingpage.jpg");
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.title {
    width: 100%;
    padding-top: 5px;
    animation: grow 1500ms ease-out;
}

@keyframes grow {
    0% {
        transform: scale(0);
    }
    100% { 
        transform: scale(1)
    }
}

#button {
    font-family: "Press Start 2P", serif;
    position: absolute;
    top: 95%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

}

/* Difficulty Modal CSS */ 

.bg-modal {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.modal-content {
    width: 500px;
    height: 300px;
    background-color: rgb(217, 240, 243);
    border-radius: 5px;
    text-align: center;
    border: 3px solid black;
    position: relative;

}

.bowser-difficulty {
    width: 30%;
    height: 30%;
    margin-left: 35%;

}

.h4-dif-modal {
    font-family: "Press Start 2P", serif;
    color: rgb(24, 24, 206);
}

.btn-margin {
    margin: 10px;
    font-family: "Quicksand", serif;
    width: 100px;
}

.close-button {
    position: absolute;
    top: 0;
    right: 14px;
    cursor: pointer;
    margin-top: 5px;
}

/** Game Page CSS */

.controls {
    position: relative;
    background-color: #268ec3;
    color: rgb(217, 240, 243);
   
    
}

.pulse{
   animation: pulse 1000ms ease-out;
animation-duration: 1000ms;
animation-iteration-count: 5;

}
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% { 
        transform: scale(0.2)
    }
    70% {transform: scale(0.5);
    }
    100% {transform:scale(1)}
}

   .game-bg {
    background: url("../images/gamebg.jpg");
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #268ec3;
    
   }

   .game-font {
    font-family: "Press Start 2P", serif;
    color:rgb(217, 240, 243);
    font-size: 4vw;
    text-align: center;
    

   }

   /** Game cards and grid**/
  * {
      box-sizing: border-box;
  }

  .game-container { 
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 20px;
    justify-content: center;
    perspective: 500px;
    
    }

  .game-info-container {
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-between;

  }

  
  .game-text {
      font-size: 2vw;
      text-align: center;
    margin: 10px;
  }

  .card {
      position: relative;
      height: 166px;
      width: 141px;
      background-color: unset;
      border: unset;
    
  }

  .card-face {
      position: absolute;
      display: flex;
      width: 100%;
      height: 100%;
      justify-content: center;
      align-items: center;
      backface-visibility: hidden;
      transition: transform 500ms ease-in-out;
    z-index: 0;
      
  }

.card-front {

      transform: rotateY(180deg);
  }

  .ncard{
    align-self: flex-start;
    transition: transform 100ms ease-in-out;
    transform: translateY(-10px);
  }

  
  .card-back{
    transform: rotateY(0); 
  }

  .card.visible .card-back{
    transform: rotateY(-180deg);
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    
    
 }

 .card.visible .card-front{
    transform: rotateY(0);
    -webkit-transform: rotateY(0);
    -moz-transform: rotateY(0);
    -o-transform: rotateY(0);
    
 }

 

  /*** Media queries ***/
  @media (max-width:600px){
    .game-container{
        -ms-grid-columns: auto 10px auto;
        grid-template-columns: repeat(2,auto);
    }

    .game-info-container {
        flex-direction: column;
        align-items: center;
    }
  }

    /***Victory Modal***/
    

    .victory-modal {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
        display:none;
        }

        .victory-content-modal {
            width: 500px;
            height: 400px;
            border-radius: 5px;
            text-align: center;
            border: 3px solid black;
            position: relative;
            background-color: #fed8a9;
          
             }

        .victory-font {
            font-family: "Press Start 2P", serif;
            Font-size: 1.5vw;
            color: rgb(8, 8, 175);

        }

        .victory-p {
            font-family: "Quicksand", serif;
            Font-size: 1.2vw;
            font-weight: 600;
            color: rgb(8, 8, 175);
        }

        .victory-img {
            width:60%;

        }

        #victory-buttons {
            width: 120px;
            margin: 5px;
            color: #fff;
            Font-family: "Quicksand", serif;
        }

    .hide-cards{
        display:none
    }


    /**Overlays**/

    .overlay-text {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        display: none;
        position: fixed;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: rgb(217, 240, 243);
        font-family: "Quicksand", serif;
        transition: background-color 500ms, font-size 500ms;
    }

      @keyframes overlay-grow {
        from {
          background-color: rgba(0, 0, 0, 0);
          font-size: 0;
        }
        to {
          background-color: rgba(0, 0, 0, .8);
          font-size: 2.5em;
        }
      }
      
      .overlay-text-small {
        font-size: .3em;
      }
      
      .overlay-text.visible {
        display: flex;
        flex-direction: column;
        animation: overlay-grow 500ms forwards;
      }